include includes/header

body
  .container
    .carouselCustom#myCarousel
      .carouselCustom-inner
        .carouselCustom-item 
          img(src="https://js.cx/carousel/1.png")
        .carouselCustom-item.active
          img(src="https://js.cx/carousel/2.png")
        .carouselCustom-item
          img(src="https://js.cx/carousel/3.png")
        .carouselCustom-item
          img(src="https://js.cx/carousel/4.png")
        .carouselCustom-item
          img(src="https://js.cx/carousel/5.png")
        .carouselCustom-item
          img(src="https://js.cx/carousel/6.png")
        .carouselCustom-item
          img(src="https://js.cx/carousel/7.png")
        .carouselCustom-item
          img(src="https://js.cx/carousel/8.png")
        .carouselCustom-item
          img(src="https://js.cx/carousel/9.png")
      button.carouselCustom-controll-prev Prev
      button.carouselCustom-controll-next Next

    .carouselCustom#myCarousel1
      .carouselCustom-inner
        .carouselCustom-item 
          img(src="https://js.cx/carousel/1.png")
        .carouselCustom-item.active
          img(src="https://js.cx/carousel/2.png")
        .carouselCustom-item
          img(src="https://js.cx/carousel/3.png")
        .carouselCustom-item
          img(src="https://js.cx/carousel/4.png")
        .carouselCustom-item
          img(src="https://js.cx/carousel/5.png")
        .carouselCustom-item
          img(src="https://js.cx/carousel/6.png")
        .carouselCustom-item
          img(src="https://js.cx/carousel/7.png")
        .carouselCustom-item
          img(src="https://js.cx/carousel/8.png")
        .carouselCustom-item
          img(src="https://js.cx/carousel/9.png")
      button(class="carouselCustom-controll-prev" href="#myCarousel1") Prev
      button(class="carouselCustom-controll-next" href="#myCarousel1") Next
    
    
