doctype html
html
  head
    title from includes page
  body
    .container
      #statusStripe
        .stripe.pastStripe
          .stripeText Step 1
        .stripe.pastStripe
          .stripeText Step 2
        .stripe.currentStripe 
          .stripeText Step 3
        .stripe.futureStripe 
          .stripeText Step 4
        .stripe.futureStripe 
          .stripeText Step 5  
      .timeline-step
        .step.past
        .line.past
        .step.past
        .line.past
        .step.current
        .line.future
        .step.future
      .timeline-step
        .step.past
        .line.past
        .step.past
        .line.past
        .step.current
        .line.current
        .step.future
        .line.future
        .step.future
